.header {
    background-color: black;
    padding: 20px 0;
}

.navigation-list-item {
    margin: 0 15px;
}

.logo {
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    width: 490px;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.navigation-list-item a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
}

.navigation-list-item a:hover {
    color: #EC7979;
/*    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;*/
    border-bottom: 2px solid #EC7979;
}

.logo-ax:after {
    content: "it";
    color: #EC7979;
}

.footer {
    background-color: black;
}