.pricing {
    padding: 5rem 0 7.25rem;
    background-color: #F5F5F5;
}

.pricing-card {
    width: 340px;
    margin: 0 15px;
}

.pricing-card__item1 {
line-height: 50px;
background: #333333;
margin-bottom: 2px;
text-align: center;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 1.25rem;
color: #FFFFFF;
}

.pricing-card__item2 {
    line-height: 100px;
    background: #333333;
    margin-bottom: 2px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1875rem;
    color: #FFFFFF;
}

.pricing-card__item3 {
    line-height: 50px;
    background: #333333;
    margin-bottom: 2px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

.pricing-card__item4 {
    line-height: 40px;
    background: #FFFFFF;
    margin-bottom: 2px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color: #86878B;
}

.pricing-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.pricing-card__item4:last-child {
margin-bottom: 0;
}

.pricing-card li:hover{
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    transition: 0.4s;
}

@media (max-width: 1110px) {
    .pricing-wrap{
        flex-direction: column;
        align-items: center;
    }
    .pricing-card{
        margin-bottom: 20px;
    }
}